
body{
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 624px;    
}
h1{
    text-align: center;
    margin-left: 80px;
}
label{
    font-size: 1.8em;
    font-weight: 600;
}
form{
    margin-left: 300px;
}
input::placeholder{
    font-size: 1.6em;
    font-weight: 600;
}
input{
    height: 50px;
    width: 280px;
    margin-left: 70px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}
.all{
    margin-top: 15px;
    margin-left: 40px;
}
#submitbtn{
    margin-top: 20px;
    height: 50px;
    width: 110px;
    border-radius: 20px;
    font-size: 1.6em;
    font-weight: 600;
    margin-left: 600px;
    background-color: #fff;
    
}
#nameInPut{
    margin-left: 120px;
    padding-left: 65px;
}
#surnameInPut{
    margin-left: 80px;
    padding-left: 79px;
}
#genreInPut{
    margin-left:120px ;
    padding-left: 95px;
}
#provinceInPut{
    margin-left:22px ;
    padding-left: 24px;
}
#contactInPut{
    margin-left:95px ;
    padding-left: 85px;
}