<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="public/assets/search.css" rel="stylesheet">
</head>
<body>
<!DOCTYPE html>
<% if (login){ %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>You succesfully logged in</strong> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>



<% if (message){ %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= message%>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>

<nav><span class="whiteThing"><a href="/"><img src="https://urbanculxure.com/wp-content/uploads/2019/04/NACZ.jpg" id="image1"></a><span class="heading">Search</span></span>
<span style="float:right;">
  <% if (form){ %>
    <a href="/form"><button type="button" class="btn btn-outline-primary">Form</button></a>
    <a href="/logout"><button type="button" class="btn btn-outline-primary">Logout</button></a> 
    <%} else {%>
     <a href="/login"><button type="button" class="btn btn-outline-primary">Login</button></a> 
     <%}%>
    </span>
</nav> 


<div class="container" >
  <div class="text-center">
    <button class="topbtn" id="tab1but">Individual</button> <button class="topbtn" id="tab2but">Organasation</button>
   <div  id="tab1" >
    <form action="/search" method="POST"> 
      <div>
        <input type="text" placeholder="Search Artist" name="search" id="searchfield">
      </div>
      <div class="radios">
        <span class="nameradio">
        <input type ="radio" name="searchradio" value="Name"  checked>
        
        <span class="a">Name</span>
      </span>
      <span class="genreradio">
        <input type ="radio" name="searchradio" value="Genre" > 
        
        <span class="a">Genre</span>
      </span>
      <span class="provinceradio ">
        <input type ="radio" name="searchradio" value="Province"> 
        
        <span class="a"> Province</span>
      </span>
      </div>
        <div class="underbtn ">
        <button type="submit" id="submitbt" >Search <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/600px-Search_Icon.svg.png" id=searchicon></button>
      </div>
      </form> 
<div class="text-center"  >
<img src="https://mbira.org/wp-content/uploads/2015/08/mbira.org-hands-on-mbira-homepage.jpg" id="bigimage" class="img-fluid" alt="Mbira" >
</div>
</div>
           
   <div id = "tab2">
    <form action="/orgsearch" method="POST">
      <div>
        <input type="text" placeholder="Search Organasation" name="search" id="searchfield">
      </div>
      <div class="radios">
        <span class="nameradio">
        <input type ="radio" name="searchradio" value="Name"  checked>
        
        <span class="a">Company Name</span>
      </span>
      <span class="genreradio">
        <input type ="radio" name="searchradio" value="Genre" > 
        
        <span class="a">Category</span>
      </span>
      <span class="provinceradio ">
        <input type ="radio" name="searchradio" value="Province"> 
        
        <span class="a"> Province</span>
      </span>
      </div>
        <div class="underbtn ">
        <button type="submit" id="submitbt" >Search <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/600px-Search_Icon.svg.png" id=searchicon></button>
      </div>
    </form> 
      <div class="text-center"  >
        <img src="https://mbira.org/wp-content/uploads/2015/08/mbira.org-hands-on-mbira-homepage.jpg" id="bigimage" class="img-fluid" alt="Mbira" >
      </div>
      </div>
      
   </div>
</div>
   


<script>
   window.onload = (event) => {
   var tab1 = document.getElementById("tab1") 
   var tab2 = document.getElementById("tab2")
   tab2.style.display = "none"
  
   var tab1but = document.getElementById("tab1but")
   var tab2but = document.getElementById("tab2but")
   tab1but.addEventListener("click", function(){
    tab2.style.display = "none"
    tab1.style.display = "block"
     })
   tab2but.addEventListener("click", function(){
     tab1.style.display = "none"
     tab2.style.display = "block"
      })}
</script>
  
</body>
</html>